*.png
checkpoints/epoch=0-step=997.ckpt
lightning_logs/
checkpoints/
.neptune/async/95c1a81d-39b9-4d47-8fdd-c275eeace84b/exec-0-2022-03-06_19.03.36.327354/last_ack_version
.neptune/async/95c1a75b-ccc1-4094-94a7-6b1e7eaaf1a2/exec-0-2022-03-06_19.01.29.558159/container_type
*.log
.neptune/async/95c1a75b-ccc1-4094-94a7-6b1e7eaaf1a2/exec-0-2022-03-06_19.01.29.558159/last_ack_version
.neptune/async/95c1a75b-ccc1-4094-94a7-6b1e7eaaf1a2/exec-0-2022-03-06_19.01.29.558159/last_put_version
.neptune*
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/100/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/100/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/100/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/100/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/100/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/100/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/100/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/100/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/100/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/100/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/100/wmh.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/101/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/101/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/101/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/101/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/101/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/101/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/101/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/101/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/101/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/101/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/101/wmh.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/102/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/102/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/102/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/102/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/102/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/102/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/102/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/102/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/102/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/102/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/102/wmh.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/103/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/103/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/103/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/103/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/103/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/103/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/103/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/103/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/103/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/103/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/103/wmh.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/104/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/104/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/104/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/104/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/104/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/104/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/104/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/104/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/104/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/104/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/104/wmh.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/105/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/105/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/105/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/105/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/105/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/105/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/105/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/105/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/105/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/105/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/105/wmh.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/106/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/106/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/106/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/106/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/106/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/106/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/106/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/106/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/106/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/106/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/106/wmh.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/107/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/107/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/107/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/107/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/107/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/107/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/107/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/107/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/107/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/107/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/107/wmh.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/108/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/108/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/108/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/108/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/108/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/108/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/108/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/108/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/108/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/108/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/108/wmh.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/109/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/109/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/109/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/109/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/109/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/109/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/109/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/109/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/109/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/109/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/109/wmh.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/110/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/110/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/110/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/110/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/110/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/110/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/110/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/110/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/110/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/110/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/110/wmh.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/112/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/112/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/112/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/112/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/112/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/112/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/112/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/112/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/112/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/112/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/112/wmh.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/113/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/113/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/113/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/113/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/113/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/113/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/113/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/113/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/113/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/113/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/113/wmh.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/114/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/114/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/114/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/114/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/114/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/114/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/114/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/114/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/114/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/114/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/114/wmh.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/115/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/115/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/115/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/115/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/115/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/115/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/115/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/115/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/115/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/115/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/115/wmh.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/116/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/116/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/116/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/116/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/116/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/116/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/116/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/116/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/116/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/116/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/116/wmh.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/126/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/126/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/126/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/126/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/126/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/126/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/126/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/126/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/126/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/126/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/126/wmh.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/132/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/132/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/132/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/132/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/132/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/132/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/132/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/132/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/132/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/132/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/132/wmh.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/137/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/137/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/137/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/137/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/137/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/137/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/137/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/137/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/137/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/137/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/137/wmh.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/144/orig/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/144/orig/3DT1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/144/orig/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/144/orig/FLAIR_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/144/orig/reg_3DT1_to_FLAIR.txt
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/144/orig/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/144/orig/T1_mask.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/144/pre/3DT1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/144/pre/FLAIR.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/144/pre/T1.nii.gz
nii/WMH Segmentation Challenge/Amsterdam_GE3T/GE3T/144/wmh.nii.gz
nii/WMH Segmentation Challenge/Data - WMH Segmentation Challenge.pdf
nii/WMH Segmentation Challenge/Manual reference standard - WMH Segmentation Challenge.pdf
nii/WMH Segmentation Challenge/Singapore.zip
nii/WMH Segmentation Challenge/Utrecht.zip
*.ckpt
